{% extends "scoutingapp/base.html" %}

{% block content %}
{% load app_filters %}
<div class="container">
	<br>
	<form action="{% url 'scoutingapp:alliance_scout' %}" method="POST">
		{% csrf_token %}
		{{ form.errors }}
			<ul class="collapsible" data-collapsible="accordion">
				<li>
					<div class="collapsible-header active">Field Setup</div>
					<div class="collapsible-body" style="padding: 2rem">
						{% for field in fieldsetform %}
							<div class = "input-field">
							 {{ field }} {{ field.label_tag }}
							 {{ field.errors }}
							</div>
						{% endfor %}
					</div>
				</li>
			</ul>
		<br>
		{% for field in form %}
					{% if field.field.widget|klass == "NumberInput" %}
						<div class="row">
							<div class = "col s4">
								<h6>{{ field.label }} </h6>
						</div>
							<div class = "col s3">
								<a class="btn-large" style="width: 100%" onclick="document.getElementById('{{ field.auto_id}}').stepUp()"><i class="material-icons">add</i></a>
							</div>
							<div class="input-field col s2">
								{{ field }}
								{{ field.errors }}
							</div>
							<div class = "col s3">
								<a class="btn-large" style="width: 100%" onclick="if(document.getElementById('{{ field.auto_id}}').value>0){document.getElementById('{{ field.auto_id}}').stepDown()}"><i class="material-icons">remove</i></a>
							</div>
						</div>
					{% else %}
						<div class="input-field row">
							<div class = "col s4">
								<h6>{{ field.label }} </h6>
						</div>
							<div class="col s8">
								{{ field }} {{ field.label_tag }}
								{{ field.errors }}
							</div>
						</div>
					{% endif %}
	
	        {% if field.help_text %}
						<p class="help">{{ field.help_text|safe }}</p>
	        {% endif %}
			<br>
	{% endfor %}
	<button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
	</form>	
			<br>
</div>

{% endblock content %}
