wsgi/scoutingapp/static/scoutingapp/materialize linguist-vendored
wsgi/scoutingapp/static/scoutingapp/jquery.smoothState.min.js linguist-vendored
wsgi/scoutingapp/static/scoutingapp/jquery-2.2.4.js linguist-vendored
.openshift/* linguist-vendored
