{% extends "scoutingapp/base.html" %} {% block content %} {% load app_filters %}
<div class="container">
    <br>
    <form action="{% url 'scoutingapp:scout' %}" method="POST" id="mainForm">
        {% csrf_token %}
				{% for field in form %}
					{{ field.label }}
					{% if field.field.widget|klass == "NumberInput" %}
            <!--
		        <div class="row">
		            <h5>{{ field.label }} </h5>
		        </div>
          -->
		        <div class="row">
		            <div class="col s4">
		                <a class="btn-large" style="width: 100%" onclick="if(document.getElementById('{{ field.auto_id}}').value>0){document.getElementById('{{ field.auto_id}}').stepDown();$('#{{ field.auto_id }}').trigger('change');}"><i class="material-icons">remove</i></a>
		            </div>
		            <div class="input-field col s4">
		                {{ field }} {{ field.errors }}
		            </div>
		            <div class="col s4">
		                <a class="btn-large" style="width: 100%" onclick="document.getElementById('{{ field.auto_id}}').stepUp();$('#{{ field.auto_id }}').trigger('change');"><i class="material-icons">add</i></a>
		            </div>
		        </div>
	        {% elif field.field.widget|klass == "RadioSelect" %}
		        <div class="input-field">
		            <h5>{{ field.label }} </h5>
		            {% for radio in field %} {{ radio.tag }}
			            <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
		            {% endfor %}
		        </div>
					{% elif field.label == "cubeplace" %}
						<table><tr>
              <div id="cubesubform">
  							{% for cubefield in cubeform %}
  								<td>
        		        <div class="input-field cubeformfield">
    									{{ cubefield }}
                    </div>
  								</td>
  							{% endfor %}
              </div>
              <script>
                function fAddCube(){
                  var sub = ""
                  var num = 0
                  var empty = false
                  $('.cubeformfield > .select-wrapper > ul > .selected > span').each(function(i,obj){
                    // alert(obj.innerHTML);
                    sub = sub +  obj.innerHTML + ", ";
                    num++;
                  });
                  // alert(sub);
                  if(num===3){
                  $("#cubesplaced")
                      .append(
                              $("<li class=\"collection-item hitem\"><div>" + sub
                                + "<a href = \"#!\" class =\"secondary-content removebutton\"><i class =\"material-icons\">remove</i></a></li>"));

                            }
                          }
                //$("#cubeadd").click(function(){
                //});
              </script>
						</tr>
              <button onclick="fAddCube()" class="btn waves-effect waves-light" name="cubeadd" type="button">cUbE<i class="material-icons left">add_circle</i></button>
            <ul class="collection" id="cubesplaced">

            </ul>
          </table>
          <div style="display: none">
            {{ field }}
          </div>
	        {% else %}
		        <div class="input-field">
		            <div class=" row">
		                <h5>{{ field.label }} </h5>
		            </div>
		            <div class="row">
		                <div class="col s12">
		                    {{ field }} {{ field.label_tag }} {{ field.errors }}
		                </div>
		            </div>
		        </div>
	        {% endif %}
					{% if field.help_text %}
		        <p class="help">{{ field.help_text|safe }}</p>
	        {% endif %}
	        <br>
				{% endfor %}
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
    </form>
    <script>
      $('#mainForm').submit(
        function(){
          // alert('sub');
            var t = ""
            $('#mainForm input[name="cube_placeholder"]').val('none');
            $(".hitem").each(function (index) {
                t += $(this).text() +";";
            })
            // alert(t);
             $('#mainForm input[name="cube_placeholder"]').val(t);
          return true;
        }
      );

      $(document).on('click','.removebutton', function(event){
        event.preventDefault();
        var a = confirm("delete?")
        if(a){
        this.closest('li').remove();
        }
      });

      $("#id_match_number").change(function(event){
        console.log("changed")
        if($('#id_filterteams').prop('checked')){
        console.log("http://" + window.location.host + "/scoutingapp/api/teambyevent/2018flor")
      var resp =  $.ajax({
          // type: "POST",
          // datatype: 'json',
          // data: "{}",
          // contentType: "application/json",
          async : true,
          url: "http://" + window.location.host + "/scoutingapp/api/teambyevent/2018flor/" + $('#id_match_number').val(),
          success : function(jsonData){
            console.log(jsonData);
            $("#id_scouted_team").children().remove();
            for(i = 0; i < jsonData.length; i++){
              console.log(jsonData[i].pk);
              $("#id_scouted_team").append($('<option>', {
                value : jsonData[i].pk,
                text : jsonData[i].pk + ": " + jsonData[i].fields.team_name
              }))
            }
                $('#id_scouted_team').material_select();

          },
          error: function(xhr, textStatus, err) {
                console.log("readyState: " + xhr.readyState);
                console.log("responseText: "+ xhr.responseText);
                console.log("status: " + xhr.status);
                console.log("text status: " + textStatus);
                console.log("error: " + err);
           },
        });
        }
      });
    </script>
    <br>
</div>
{% endblock content %}
