{% extends "scoutingapp/base.html" %}

{% block content %}
<div class="container" style="text-align: center">
{% if user.is_authenticated %}
<p>
	Hello {{ user.email }}!
</p>
<a class="waves-effect waves-light btn"  href="{% url 'scoutingapp:scout' %}"><i class="material-icons right">highlight</i>Scout</a>
<a class="waves-effect waves-light btn"  href="{% url 'scoutingapp:viewrounds' %}"><i class="material-icons right">pageview</i>View Rounds</a>
<a class="waves-effect waves-light btn" href="{% url 'scoutingapp:logoutuser' %}"><i class="material-icons right">exit_to_app</i>Logout</a><br>
{% else %}
<br>
<a class="waves-effect waves-light btn" href="{% url 'scoutingapp:userlogin' %}">Login</a>
<a class="waves-effect waves-light btn" href="{% url 'scoutingapp:demo_scout_page' %}">Demo Scouting Page</a>
<a class="waves-effect waves-light btn" href="{% url 'scoutingapp:signup' %}">Signup</a>
{% endif %}
</div>
{% endblock content %}
