{% extends "scoutingapp/base.html" %}

{% block content %}
<div class="container" style="text-align: center">
{% if user.is_authenticated %}
<p>
	Hello {{ user.email }}!
</p>
<a class="waves-effect waves-light btn"  href="{% url 'scoutingapp:scout' %}"><i class="material-icons right">highlight</i>Scout</a>
<a class="waves-effect waves-light btn"  href="{% url 'scoutingapp:viewrounds' %}"><i class="material-icons right">pageview</i>View Rounds</a>
<a class="waves-effect waves-light btn"  href="{% url 'scoutingapp:usercontrolpanel' %}"><i class="material-icons right">pageview</i>User Control Panel</a>
{% if user.is_admin %}
<a class="waves-effect waves-light btn"  href="{% url 'scoutingapp:import_from_TBA' %}"><i class="material-icons right">pageview</i>Import Teams from TBA</a>
<a class="waves-effect waves-light btn"  href="{% url 'scoutingapp:import_event_from_TBA' %}"><i class="material-icons right">pageview</i>Import Event from TBA</a>
<a class="waves-effect waves-light btn"  href="{% url 'scoutingapp:export_to_gdocs' %}"><i class="material-icons right">highlight</i>Export Data to Google Docs</a>
{% endif %}
<a class="waves-effect waves-light btn" href="{% url 'scoutingapp:logoutuser' %}"><i class="material-icons right">exit_to_app</i>Logout</a><br>
{% else %}
<br>
<a class="waves-effect waves-light btn" href="{% url 'scoutingapp:userlogin' %}"><i class="material-icons right">account_box</i>Login</a>
<a class="waves-effect waves-light btn" href="{% url 'scoutingapp:demo_scout_page' %}">Demo Scouting Page</a>
<a class="waves-effect waves-light btn" href="{% url 'scoutingapp:signup' %}">Signup</a>
{% endif %}
</div>
{% endblock content %}
