{% extends "scoutingapp/base.html" %}
{% block content %}
<br>
<div class="container">
	<form action="{% url 'scoutingapp:userlogin' %}" method="POST">
		{% csrf_token %}
		{{ form }} 
		<div style="text-align: center">
			<input type="submit" value="Submit" class="btn"/>
			<a href="{% url 'scoutingapp:signup' %}" class="btn waves-effect waves-light">Sign Up</a>
		</div>
	</form>	
	<br>
	{% if form.username.errors %}
	    <ol>
	    {% for error in form.username.errors %}
	        <li><strong>{{ error|escape }}</strong></li>
	    {% endfor %}
	    </ol>
	{% endif %}
</div>
{% endblock content %}
